@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700');
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply underline;
}

a:hover {
  @apply no-underline;
  @apply text-white;
}

body {
  font-family: 'Source Code Pro', monospace;
  background: #000;
  color: chartreuse;
  font-size: 12px;
}

button {
  @apply p-2;
  border-color: chartreuse;
  border-radius: 3px;
  border-width: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Mono', sans-serif;
  @apply font-bold;
  @apply mb-4;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

section {
  @apply p-4;
}

table td, table th {
  @apply p-2;
  border: 1px solid #ccc;
  @apply text-left;
}

table th {
  @apply uppercase;
}

#main-header nav {
  @apply p-4;
}

#main-header nav li {
  @apply p-2;
}

#main-header nav li a.active {
  @apply text-white;
  @apply no-underline;
}

#main-header nav li:first-of-type {
  @apply pl-0;
}

.ship-section {
  border-bottom: 1px solid chartreuse;
  @apply mb-4;
}